:root {
    font-size: clamp(5pt, 1vw, 16pt);
}
body {
    background-color: black;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

#background {
    opacity: 0;
    transition: 8s;
    position: absolute;
    text-align: center;
    z-index: -100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1473654729523-203e25dfda10?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
}
.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    animation: fadeIn 5.0s forwards;
    background-image: url("https://images.unsplash.com/photo-1574610758891-5b809b6e6e2e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1956&q=80");
}

h1 {
    text-shadow: 6px 3px 5px rgba(0,0,0,0.5);
    font-family: 'Nova Square', sans-serif;
    letter-spacing: 1rem;
    color: darkred;
    font-size: 10rem;
    cursor: none;
    transition: color 3s;
      
    animation: fadeInDelayed 6.0s;
}

#start {
    font-family: 'nova round', sans-serif;
    text-decoration: none;

    color: white;
    font-size: 3rem;
    letter-spacing: 1rem;
    text-shadow: 2px 1px 2px rgba(0,0,0,0.3);
    position: relative;
    cursor: none;
    animation: fadeInDelayed 10.0s;
}
a {
    font-family: 'nova round', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 3rem;
    letter-spacing: 1rem;
    text-shadow: 2px 1px 2px rgba(0,0,0,0.3);
    transition: color 1s, opacity 3s;

    animation: fadeInDelayed 10.0s;
}
a:hover {
    color: rgb(255, 193, 101);
    transition: color 2s;
}
@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes fadeInDelayed {
    0%   { opacity: 0.0; }
    25%  { opacity:0.0; }
    100% { opacity:1.0; }
}